# Copier ce fichier en .env et remplir les valeurs
# NE JAMAIS committer le fichier .env

DB_USER=
DB_PASSWORD=
DB_NAME=
DB_HOST=db
DB_PORT=5432
DATABASE_URL=postgresql+asyncpg://USER:PASSWORD@db:5432/DB_NAME

APP_ENV=development
SECRET_KEY=
ALLOWED_ORIGINS=http://localhost:5173

PGADMIN_EMAIL=
PGADMIN_PASSWORD=